/* Home
================================ */

#value-container {
    position: relative;
    height: fit-content;
    margin-top: -50px;
    z-index: 1;

    .column_value {
        width: 33.33%;
        justify-content: flex-start;
        text-align: start;
        padding: $m-padding $l-padding;
        gap: $sl-gap;
    }

    .column_value:first-child {
        background-color: #00578A;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-bottom-left-radius: 20px;
        -moz-border-radius-topleft: 20px;
        -moz-border-radius-bottomleft: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .column_value:not(:first-child):not(:last-child) {
        background-color: #0067A3;
    }

    .column_value:last-child {
        background-color: #0077BD;
        -webkit-border-top-right-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-radius-topright: 20px;
        -moz-border-radius-bottomright: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

#about-home {
    figure, article {
        width: 50%;
    }

    article {
        p {
            margin-top: $sl-gap;
        }
    }
}

#time {
    background: rgb(0,118,188);
    background: linear-gradient(90deg, rgba(0,118,188,1) 0%, rgba(0,87,138,1) 78%);
    > div {
        justify-content: space-between;
        div.title {
            gap: $sm-gap;
            align-items: center;
            svg {
                path {
                    color: $color-white;
                }
            }
        }

        ul {
            justify-content: space-evenly;
            height: 100%;
            list-style: disc;
        }
    }    
}