/* # Header, Main Menu
================================ */

#masthead {
    #top-header {
        justify-content: space-between;
        background-color: $color-bg-light;
        .top-header_support {
            gap: $xsm-gap;
            display: flex;
            align-items: center;
        }

        .top-header_language {
            gap: 4px;
            display: flex;
            align-items: center;
            select {
                border: 0px;
                background-color: transparent;
            }

            path, select {
                color: blue;
            }
        }
    }
}