/* Recipiente
================================ */
.full-width {
    width: 100%;
}

.max-width {
    width: 100%;
    max-width: 1200px;
}

@media  screen and (max-width: 1200px) {
    .max-width {
        padding-left: $sm-padding;
        padding-right: $sm-padding;
    }
}

/* Orientação
================================ */
.center {
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-columns {
    display: flex;
    flex-direction: column;
}

/* Padding
================================ */

.v-sm-padding {
    padding-top: $sm-padding;
    padding-bottom: $sm-padding;
}

.v-m-padding {
    padding-top: $m-padding;
    padding-bottom: $m-padding;
}

.l-m-padding {
    padding-top: $l-padding;
    padding-bottom: $l-padding;
}


/* Texto
================================ */

.center-text {
    text-align: center;
}

.bold {
    font-weight: 700;
}

.text {
    font-size: $sm-text;
}

.text-sm {
    font-size: $m-text;
}

.text-xsm {
    font-size: $xsm-text;
    line-height: 22px;
}

.title-l {
    font-size: $l-text;
}

.title-s {
    font-size: $xsm-text;
    line-height: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.title-m {
    font-size: $xm-text;
    line-height: 30px;
    font-weight: 800;
}

.title-xm {
    font-size: $xxm-text;
    line-height: 30px;
    font-weight: 800;
}

.title-xs {
    font-size: $xsm-text;
    line-height: 21px;
    font-weight: 600;
}

.dark-blue {
    color: $color-text-blue;
}

.blue {
    color: $color-blue;
}

.white {
    color: $color-white;
}

.dark-black {
    color: $color-dark-black;
    font-weight: 600;
}

/* Gradient
================================ */

.gradient-background {
    background: rgb(0,118,188);
    background: linear-gradient(90deg, rgba(0,118,188,1) 0%, rgba(0,87,138,1) 78%);
}