/* Recipiente
================================ */
.full-width {
    width: 100%;
}

.max-width {
    width: 100%;
    max-width: 1200px;
}

@media  screen and (max-width: 1200px) {
    .max-width {
        padding-left: $sm-padding;
        padding-right: $sm-padding;
    }
}

/* Orientação
================================ */
.center {
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-columns {
    display: flex;
    flex-direction: column;
}

/* Padding
================================ */

.v-sm-padding {
    padding-top: $sm-padding;
    padding-bottom: $sm-padding;
}

/* Texto
================================ */

.bold {
    font-weight: 700;
}

.text {
    font-size: $sm-text;
}

.text-sm {
    font-size: $m-text;
}

.title-l {
    font-size: $l-text;
}

.dark-blue {
    color: $color-text-blue;
}

.blue {
    color: $color-blue;
}