/* Espaços
================================ */

$xsm-gap: 12px;
$sm-gap: 18px;
$l-gap: 60px;
$sm-padding: 18px;
$m-padding: 45px;
$l-padding:80px;

/* Cores
================================ */

$color-bg-light: #EDEFFF;
$color-blue: #0178BD;
$color-black: #3A3A3A;
$color-white: #fff;
$color-text-blue: #003757;
/* Fuentes
================================ */

$lato: 'Lato', sans-serif;

$sm-text: 1em;
$m-text: 1.13em;
$l-text: 2.8em;
