/* Espaços
================================ */

$xsm-gap: 12px;
$sm-gap: 18px;
$sm-padding: 18px;

/* Cores
================================ */

$color-bg-light: #EDEFFF;

/* Fuentes
================================ */

$lato: 'Lato', sans-serif;