/* Espaços
================================ */

$xsm-gap: 12px;
$sm-gap: 18px;
$sm-padding: 18px;

/* Cores
================================ */

$color-bg-light: #EDEFFF;
$color-blue: #0178BD;
$color-black: #3A3A3A;
$color-white: #fff;

/* Fuentes
================================ */

$lato: 'Lato', sans-serif;

$m-text: 1.13em;
